
/* Stylesheet content from css/main.css in folder common */
body{
	background : black;
}
div{
	color: white;

}
h1{
	color:gray;
	font-weight:bold;	
}
/* Stylesheet content from css/main.css in folder android */

/* this CSS file extends the application CSS file found under common\css */

